<?xml version='1.0' encoding='utf-8'?>

<!--

PLEASE NOTE: 
  This CC.NET config file must be edited in the Fortran2CHeader
  Subversion project at svnsrv.  Any local changes will be lost.

ID: $Id$
$Date$
$Revision$
-->

<cb:config-template xmlns:cb="urn:ccnet.config.builder"
                    xmlns="http://thoughtworks.org/ccnet/1/5">

  <project name="Fortran2CHeader" queue="MainQueue" queuePriority="1">

    <maxSourceControlRetries>5</maxSourceControlRetries>
    <stopProjectOnReachingMaxSourceControlRetries>
      true
    </stopProjectOnReachingMaxSourceControlRetries>
    <sourceControlErrorHandling>ReportOnRetryAmount</sourceControlErrorHandling>
    <labeller type="svnRevisionLabeller">
      <major>0</major>
      <minor>3</minor>
      <build>0</build>
      <url>https://svnsrv/svn/Fortran2CHeader/trunk</url>
    </labeller>
    <workingDirectory>$(checkoutdir)\Fortran2CHeader</workingDirectory>
    <artifactDirectory>$(artifactsdir)\Fortran2CHeader</artifactDirectory>
    <webURL>http://gl-ho-$(server).gl.ad.germanlloyd.org/ccnet/</webURL>
    <sourcecontrol type="svn">
      <executable>$(svndir)\svn.exe</executable>
      <trunkUrl>https://svnsrv/svn/Fortran2CHeader/trunk</trunkUrl>
      <cleanCopy>false</cleanCopy>
      <timeout units="minutes">5</timeout>
      <checkExternals>True</checkExternals>
      <checkExternalsRecursive>True</checkExternalsRecursive>
    </sourcecontrol>
    <triggers>
      <intervalTrigger seconds="600"/>
    </triggers>
    <tasks>
      <sequential>
        <tasks>
          <exec>
            <executable>svn</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>up</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <successExitCodes>0</successExitCodes>
          </exec>
          <exec>
            <executable>make</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>clean</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <successExitCodes>0</successExitCodes>
          </exec>
          <exec>
            <executable>C:\Python27\python.exe</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>setup.py build</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <successExitCodes>0</successExitCodes>
          </exec>
          <exec>
            <executable>make</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>test</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <environment>
              <variable name="PATH" value="c:\Python27;$(PATH)" />
            </environment>
          </exec>
          <exec>
            <executable>C:\Python27\python.exe</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>setup.py bdist</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <successExitCodes>0</successExitCodes>
          </exec>
          <exec>
            <executable>C:\Python27\python.exe</executable>
            <baseDirectory>$(checkoutdir)\Fortran2CHeader</baseDirectory>
            <buildArgs>setup.py bdist_egg</buildArgs>
            <buildTimeoutSeconds>100</buildTimeoutSeconds>
            <successExitCodes>0</successExitCodes>
          </exec>
        </tasks>
      </sequential>
    </tasks>
    <publishers>
      <artifactcleanup cleanUpMethod="KeepLastXBuilds" cleanUpValue="10"/>
      <buildpublisher>
        <sourceDir>dist</sourceDir>
        <publishDir>$(artifactsdir)\Fortran2CHeader</publishDir>
      </buildpublisher>
      <email from="$(glMailhostUsername)" mailhost="$(glMailhost)"
             mailhostPassword="$(glMailhostPassword)"
             includeDetails="TRUE">
        <users>
          <user name="hoel" group="buildmaster"
                address="berthold.hoellmann@dnvgl.com"/>
          <user name="lgb" group="buildmaster"
                address="uwe.langbecker@dnvgl.com"/>
        </users>
        <groups>
          <group name="developers">
            <notifications>
              <notificationType>Failed</notificationType>
              <notificationType>Fixed</notificationType>
            </notifications>
          </group>
          <group name="buildmaster">
            <notifications>
              <notificationType>Always</notificationType>
            </notifications>
          </group>
        </groups>
        <modifierNotificationTypes>
          <NotificationType>Success</NotificationType>
          <NotificationType>Failed</NotificationType>
          <NotificationType>Fixed</NotificationType>
        </modifierNotificationTypes>
      </email>
      <statistics/>
      <xmllogger logDir="$(logdir)\Fortran2CHeader"/>
      <artifactcleanup cleanUpMethod="KeepLastXBuilds"
                       cleanUpValue="10" />
      <modificationHistory onlyLogWhenChangesFound="true"/>
    </publishers>
  </project>
</cb:config-template>
